/*Landing Page Begin*/
.landingPage {
    /*background-image: url("../Images/LandingPage.png");*/
    background-color: gray;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top center;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
/*Landing Page End*/