* {
    margin: 0;
    padding: 0;
}
/*Landing Page Begin*/
.landingPage {
    z-index: 1;
    background-image: url("../Images/LandingPage360_600.png");
    background-color: gray;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 100%;
    height: 150vh;
    text-align: center;
}
p {
    color: white;
}
/*Media Queries*/
/*@media screen and (max-width: 425px) {
    .landingPage {
        background-image: url("../Images/LandingPage425_670.png");
    }
} DELETE IF NOT NEEDED*/
@media screen and (min-width: 500px) and (max-width: 768px) {
    .landingPage {
        background-image: url("../Images/LandingPage768_900.png");
    }
}
@media screen and (min-width: 769px) and (max-width: 2000px) {
    .landingPage {
        background-image: url("../Images/LandingPage1440_710.png");
    }
}
/*Landing Page End*/